<div class="banner">
  <div class="container text-center">
    <h1>P e t  L o v e</h1>
    <p>Keeping our furry friends safe & warm</p>
    <%= link_to 'Book a Home', places_path, class: 'btn btn-flat' %>
  </div>
</div>

<div class="container" align="center">
  <h1 class="m-5">Some places our pets have enjoyed their stay</h1>

  <div class="row">
    <% @sample_places.each do |place| %>
        <%= render 'shared/card', place: place %>
    <% end %>
  </div>

  <%= link_to 'See all our places', places_path, class: 'btn btn-flat' %>
</div>

