<div class="container">
  <h1>Some places our pets have enjoyed their stay</h1>

  <div class="row">
    <% @places.each do |place| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <%= render 'shared/card', place: place %>
      </div>
    <% end %>
  </div>
</div>
