<div class="container">
  <div style="width: 60%; margin: auto;" >
    <form action="/places" method="get" class="m-5">
      <div style="position: relative; height: 60px;">
        <input style="position: absolute;" class="form-control" type="text" name="query" placeholder="Search for host, full address...">
        <input style="position: absolute; width: 20%; right: 0;" class="form-control form-btn" type="submit" value="Search">
      </div>
    </form>
  </div>

  <div class="row">
    <% @places.each do |place| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <%= render 'shared/card', place: place %>
      </div>
    <% end %>
  </div>
</div>
